.blocked {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    height: fit-content;
    width: fit-content;
    border-radius: 20px;
    padding: 20px;
}

.closeModalButton {
    display: flex;
    justify-content: flex-end;
}

.headerModal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contentModal {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}